body{
    background-color: #fff;
}

.product_character{
    width: 1240px;
    margin: auto;
}

.horizental{

    display: flex;
    justify-content: space-between;
    width: 100%;
  
    align-items: center;
    margin: 90px auto;
}


video{
    width: 100%;
}

.hd{
    color: #333;

    text-align: left;
    font-size: 28px;
    font-weight: 400;
}

.infotext{

    display: flex;
    flex-direction: column;
}

.infosec{

    width: 577px;
    height: 445px;
    background-repeat: no-repeat;
    background-image: url(../Image/productinfo1.png);
    background-position: center right;
}

.infothird{

    width: 577px;
    height: 445px;
    background-repeat: no-repeat;
    background-image: url(../Image/productinfo2.png);
    background-position: center right;
}

.infoforth{

    width: 577px;
    height: 445px;
    background-repeat: no-repeat;
    background-image: url(../Image/productinfo3.png);
    background-position: center right;
}

.detail{
    text-align: center;
}

.dt{
    width: 484px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    height: 200px;
    transition: 1s;
    /* opacity: 0; */
 





}



.buying{
    width: 100%;
    height: 120px;
    z-index: 2;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    box-shadow: 1px 1px 4px #33333350;
}

.buyingcon{
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pp{
    font-size: 24px;
    font-weight: 600;
}

.p2{
    font-size: 24px;
    font-weight: 400;
    align-items: center;
}



.ppcon{
    width: 640px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.purchase{
    margin-left: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 16px 60px;
    background-color: #1976a1;
    border-radius: 12px;
}